<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>질문 수정</title>
</head>
<body>
	<h1>질문 수정</h1>

	<form th:action="@{'/question/edit/' + ${question.id}}" method="post">
		<p>
			<label>카테고리:</label><br/>
			<!-- 🔥 카테고리를 select 박스로 수정 -->
			<input type="checkbox" name="categoryNames" value="Java">Java<br/>
			<input type="checkbox" name="categoryNames" value="DB">DB<br/>
			<input type="checkbox" name="categoryNames" value="Spring">HTTP<br/>
			<input type="checkbox" name="categoryNames" value="백엔드 개념">백엔드 개념<br/>
			<input type="checkbox" name="categoryNames" value="객체지향 설계">객체지향 설계<br/>
			<input type="checkbox" name="categoryNames" value="보안">보안<br/>
			<input type="checkbox" name="categoryNames" value="컴퓨터 기초">컴퓨터 기초<br/>
			<input type="checkbox" name="categoryNames" value="JavaScript">JavaScript<br/>
			<input type="checkbox" name="categoryNames" value="Spring MVC">Spring MVC<br/>
			<input type="checkbox" name="categoryNames" value="운영체제">운영체제<br/>
		</p>
		<p>
			<label>질문:</label><br/>
			<textarea name="content" rows="4" cols="50" th:text="${question.content}"></textarea>
		</p>
		<p>
			<label>모범답안:</label><br/>
			<textarea name="modelAnswer" rows="6" cols="50" th:text="${question.modelAnswer}"></textarea>
		</p>
		<p>
			<button type="submit">수정 완료</button>
		</p>
	</form>
</body>
</html>
