<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>질문 상세</title>
</head>
<body>
	<div>
	<h1>질문 상세</h1>
		<p><strong>카테고리:</strong> <span th:text="${question.category}"></span></p>
		<p><strong>질문:</strong> <span th:text="${question.content}"></span></p>
		<p><strong>모범답안:</strong></p>
		<pre th:utext="${question.modelAnswer}"></pre>
		<p><strong>내 답변:</strong></p>
		<pre th:utext="${question.myAnswer}"></pre>
	</div>
	<a href="/question/list">목록으로 돌아가기</a>
</body>
</html>
